---
// 1. O "CÉREBRO" COMEÇA AQUI
// Todos os nossos componentes importados
import "../styles/global.css";
import Navbar from "../components/Navbar.astro"; // <-- O cabeçalho
import Hero from "../components/Hero.astro";
import Servicos from "../components/Servicos.astro";
import Projetos from "../components/Projetos.astro";
import SobreMim from "../components/SobreMim.astro";
import Contato from "../components/Contato.astro";
import Footer from "../components/Footer.astro";
// 2. O "CÉREBRO" TERMINA AQUI
---

<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Genesistec | Soluções em Sites</title> </head>
  <body>
    <Navbar /> <Hero />
    <Servicos />
    <Projetos />
    <SobreMim />
    <Contato />
    <Footer />
  </body>
</html>